<link rel="stylesheet" href="public/css/login.css">
<form v-on:submit.prevent="guardarDocente"  id="frm-login" method="post" >
    <div class="card text-dark bg-white mb-3" style="max-width: 24rem;">
        <div class="card-header">
           <center><i class="fas fa-user"></i> Iniciar sesion</center>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    Correo:
                </div>
                <div class="col-6">
                    <input type="text" v-model="" placeholder="Correo" class="form-control" required>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Password:
                </div>
                <div class="col-8">
                    <input type="text" v-model="" placeholder="Password" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarDocentes" type="submit" class="btn btn-outline-primary text-dark" value="Iniciar Sesion">
                    <br>
                    <br>
                    ¿No tienes cuenta?
                    <input type="button" class="btn btn-outline-success mostrar-buscar-docentes text-dark" id="btnRegistrar" value="Registrarse">
                </div>
            </div>
            <div class="row p-2">
            </div>
        </div>
    </div>
</form>