<form method="POST" id="frm-registrar">
    <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="car-header">
            Registrate
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    Nombre
                </div>
                <div class="col-8">
                    <input type="text" v-model="" required pattern="[A-Za-z]{0-50}" placeholder="Nombre" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Apellido
                </div>
                <div class="col-8">
                    <input type="text" v-model="" required placeholder="" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Correo
                </div>
                <div class="col-8">
                    <input type="text" v-model="" required placeholder="" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Contraseña
                </div>
                <div class="col-8">
                    <input type="text" v-model="" required placeholder="" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Direccion
                </div>
                <div class="col-8">
                    <input type="text" v-model="" required placeholder="" class="form-control">
                </div>
            </div>
        </div>
    </div>
</form>
